
<ion-content [fullscreen]="true" style="--background: rgb(255, 196, 189);">

<div style="height: 45px; background-color: rgb(255, 255, 255); width: 70%; position: fixed; display: flex; 
justify-content: space-between; align-items: center; padding: 3%; right: 0; z-index: 100;">
  
  <label style="font-weight: 600;">Total: ${{precioTotal}}</label>
 
  <ion-button *ngIf="pantalla == 'menu'" (click)="irA('pedido')" style="--background: rgb(255, 109, 92);" >Ver pedido</ion-button>

  <label *ngIf="pantalla == 'pedido'" style="font-weight: 600;">Tiempo estimado: {{tiempoAprox}} min.</label>



  
</div>
<div style="height: 45px; background-color: rgb(255, 255, 255); width: 100%; position: fixed; display: flex; 
justify-content: space-between; align-items: center; padding: 3%; right: 0;">

  </div>
  <div style="height: 45px; ">

  </div>

<div *ngIf="pantalla == 'menu'">

  <div *ngFor="let p of productos" style="background-color: rgb(255, 218, 213); text-align: center;
  width: 95vw; margin: auto; margin-top: 5%; border: salmon 2px solid; border-radius: 10px;">
    <img style="max-width: 29vw; max-height: 30vh; margin-left: 2%;" [src]="p.foto" >
    <img style="max-width: 29vw; max-height: 30vh;  margin-left: 2%;;" [src]="p.foto2" >
    <img style="max-width: 29vw; max-height: 30vh;  margin-left: 2%;" [src]="p.foto3" ><br>
    <label style="font-size: 8vw; font-weight: 600; color: salmon">{{p.descripcion}}</label><br>
    <label style="font-size: 5vw; font-weight: 600; color: salmon">{{p.marca}}</label><br>
    <label style="font-size: 7vw; font-weight: 600; color: salmon">${{p.precio}}</label><br>
    <div style="display: flex; justify-content: center;">
      <ion-button (click)="agregarPedido(p)" style="--background: rgb(255, 109, 92); margin-top: 3%;" >Agregar al pedido</ion-button>
      <ion-button (click)="p.cantidad = p.cantidad - 1" style="--background: rgb(255, 109, 92); margin-top: 3%;" >-</ion-button>
      <label style="margin-top: 5%; font-size: 5vw;">{{p.cantidad}}</label>
      <ion-button (click)="p.cantidad = p.cantidad + 1" style="--background: rgb(255, 109, 92); margin-top: 3%;" >+</ion-button>
    </div>
  </div> 
    
</div>


<div *ngIf="pantalla == 'pedido'">
  <div *ngFor="let p of pedido.productos" style="background-color: rgb(255, 218, 213); text-align: center;
  width: 95vw; margin: auto; margin-top: 5%; border: salmon 2px solid; border-radius: 10px;">
    <img style="max-width: 29vw; max-height: 30vh; margin-left: 2%;" [src]="p.foto" >
    <img style="max-width: 29vw; max-height: 30vh;  margin-left: 2%;;" [src]="p.foto2" >
    <img style="max-width: 29vw; max-height: 30vh;  margin-left: 2%;" [src]="p.foto3" ><br>
    <label style="font-size: 8vw; font-weight: 600; color: salmon">{{p.descripcion}}</label><br>
    <label style="font-size: 5vw; font-weight: 600; color: salmon">{{p.marca}}</label><br>
    <label style="font-size: 7vw; font-weight: 600; color: salmon">${{p.precio}}</label><br>
    <label style="font-size: 7vw; font-weight: 600; color: salmon"><b>Cantidad:</b> {{p.cantidad}}</label><br>
</div>
<div style="height: 7vh; margin-top: 4%;">

</div>
  <div style="position: fixed; display: flex; bottom: 0; height: 7vh; width: 100%;
  justify-content: center; background-color: red;">
    <ion-button (click)="hacerPedido()" style="--background: rgb(255, 109, 92); margin-top: 3%;" >Realizar pedido</ion-button>
    <ion-button style="--background: rgb(255, 109, 92); margin-top: 3%;" >Cancelar</ion-button>


  </div>
</div>
</ion-content>
