<ion-content style="--background: rgb(255, 196, 189)">
  <!---------------------------LOGIN USUARIOS COMUNES------------------------------->
  <div class="upperBox">
    <h3>Pregunta 1</h3>

    <ion-list>
      <ion-radio-group>
        <ion-item>
          <ion-label>Opcion 1</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opcion 2</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Opcion 3</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>

        <ion-item lines="">
          <ion-label>Otra</ion-label>
          <ion-radio value="4"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>


  <div class="upperBox">
    <h3>Pregunta 2</h3>
    <ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Opt 1</ion-label>
            <ion-checkbox mode="md" item-left value="opt1"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label>Opt 2</ion-label>
            <ion-checkbox mode="md" item-left value="opt2"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label>Opt 3</ion-label>
            <ion-checkbox mode="md" item-left value="opt3"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label>Opt 4</ion-label>
            <ion-checkbox mode="md" item-left value="opt4"></ion-checkbox>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-list>
  </div>

  <div class="upperBox">
    <h3>Calificacion</h3>
    <ion-list lines="none">
      <ion-item>
        <ion-range min="1" max="10" mode="ios" color="danger" [pin]="true"></ion-range>
        <ion-label slot="end">puntos</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="upperBox">
    <ion-list style="color: salmon; border-radius: 10px; border: 2px salmon solid; width: 100%;">
      <ion-item>
        <ion-select aria-label="mesa" interface="action-sheet" placeholder="Seleccionar opcion">
          <!--ion-select-option *ngFor="let mesa of mesas" [value]="mesa.numero">{{mesa.numero}}</ion-select-option-->
          <ion-select-option value="opcion 1">opcion 1</ion-select-option>
          <ion-select-option value="opcion 2">opcion 2</ion-select-option>
          <ion-select-option value="opcion 3">opcion 3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </div>

  <div class="upperBox">
    <ion-list>
      <ion-item>
        <ion-textarea label="Tu opinión nos interesa" labelPlacement="floating" fill="outline" placeholder="Comentarios"></ion-textarea>

      </ion-item>
    </ion-list>  
  </div>

  <div>
    <ion-button expand="block" color="danger">Enviar</ion-button>
  </div>


<!---------------------------SPINNER------------------------------->
</ion-content>