<!----- ENCUESTA ------>

<ion-content style="--background: rgb(255, 196, 189)">
  <div *ngIf="this.usuarioActual.completoEncuesta == false"> 
 
    <p style="font-size: 8.5vw; color: rgb(255, 109, 92); font-weight: 700; margin-left: 1em;">Encuesta de satisfacción: FFN</p>
    <div class="upperBox">
      <h3>De los siguientes items ¿Cuál te pareció mas importante en tu experiencia? <b>*</b></h3>
  
      <ion-list>
        <ion-radio-group [(ngModel)]="resRadioBtn">
          <ion-item>
            <ion-label>Nuestra comida</ion-label>
            <ion-radio value="comida"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-label>Metodología de pedido</ion-label>
            <ion-radio value="pedido"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-label>Comunicación con el staff</ion-label>
            <ion-radio value="comunicacion"></ion-radio>
          </ion-item>
  
          <ion-item lines="">
            <ion-label>Nuestro local</ion-label>
            <ion-radio value="local"></ion-radio>
          </ion-item>
        </ion-radio-group>
  
      </ion-list>
    </div>
  
    <!---------------------------------------------------------------------------->
  
    <div class="upperBox">
      <h3>Indicar cuál/es de los siguientes items utilizaste en tu estadía en FFN. <b>*</b></h3>
      <ion-list>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Chat con mozo</ion-label>
              <ion-checkbox mode="md" item-left value="mozo" [(ngModel)]="cbChat"></ion-checkbox>
            </ion-item>
          </ion-col>
  
          <ion-col size="12">
            <ion-item>
              <ion-label>Verificacion del estado de tu pedido</ion-label>
              <ion-checkbox mode="md" item-left value="estado_pedido" [(ngModel)]="cbEstadoPedido"></ion-checkbox>
            </ion-item>
          </ion-col>
  
          <ion-col size="12">
            <ion-item>
              <ion-label>Juegos</ion-label>
              <ion-checkbox mode="md" item-left value="juegos" [(ngModel)]="cbJuegos"></ion-checkbox>
            </ion-item>
          </ion-col>
  
          <ion-col size="12">
            <ion-item>
              <ion-label>Registro mediante scan del DNI</ion-label>
              <ion-checkbox mode="md" item-left value="dni" [(ngModel)]="cbDni"></ion-checkbox>
            </ion-item>
          </ion-col>
  
        </ion-row>
      </ion-list>
    </div>
  
    <!------------------------------------------------------------------------------->
  
    <div class="upperBox">
      <h3>¿Cómo calificarías tu experiencia en FFN? (1 al 10) <b>*</b></h3>
      <ion-list lines="none">
        <ion-item>
          <ion-range min="1" max="10" mode="ios" color="danger" [pin]="true" [(ngModel)]="calificacion"></ion-range>
          <ion-label slot="end">{{this.calificacion}} puntos</ion-label>
        </ion-item>
      </ion-list>
    </div>
  
    <!---------------------------------------------------------------------------------------------->
  
    <div class="upperBox">
      <h3>¿Te resulto favorable la interacción con nuestros QR? <b>*</b></h3>
      <ion-list style="color: salmon; border-radius: 10px; border: 2px salmon solid; width: 100%;">
        <ion-item>
          <ion-select aria-label="mesa" interface="action-sheet" placeholder="Seleccionar opcion" [(ngModel)]="resSelect">
            <!--ion-select-option *ngFor="let mesa of mesas" [value]="mesa.numero">{{mesa.numero}}</ion-select-option-->
            <ion-select-option value="si">Si</ion-select-option>
            <ion-select-option value="mejorar">Puede mejorar</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
  
    </div>
  
    <!--------------------------------------------------------------------------------------->
    <div class="upperBox">
      <h3>Dejanos un comentario</h3>
      <ion-list>
        <ion-item>
          <ion-textarea label="Tu opinión nos interesa" labelPlacement="floating"></ion-textarea>
  
        </ion-item>
      </ion-list>  
    </div>
  
    <div>
      <ion-button expand="block" color="danger" (click)="enviarEncuesta()">Enviar</ion-button>
    </div>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
  </div>
  



<!----- GRAFICOS ------>
<div *ngIf="this.usuarioActual.completoEncuesta == true"> 

  <div class="row">
  
    <div class="col-lg-6">
        <h2>Calificacion</h2>
        <canvas id="piechart"></canvas>
    </div>

    <div class="col-lg-6">
        <h2>¿Fue favorable la interacción con nuestros QRs?</h2>
        <canvas id="barchart"></canvas>
    </div>

    <div class="col-lg-6">
        <h2>Nos destacamos por nuestra:</h2>
        <canvas id="dochart"></canvas>
    </div>

    <div class="col-lg-6">
      <h2>Los clientes ha usado:</h2>
      <canvas id="polarchart"></canvas>
  </div>
    
</div>



</div>




</ion-content>


