
<ion-content [fullscreen]="true" style="--background: rgb(253, 206, 202);">
  <div class="container" style="text-align: center;">
    <img style="width: 60vw; margin-top: 20%;" src="../../../assets/restaurante.png">
    <p style="color:salmon; font-size: 11vw; font-weight: 700;">Comanda FFN</p>
    <p style="color:rgb(255, 255, 255); font-size: 7vw; font-weight: 600;">Sultana Franco</p>
    <p style="color:rgb(255, 255, 255); font-size: 7vw; font-weight: 600;">Caretti Nicolás</p>
    <p style="color:rgb(255, 255, 255); font-size: 7vw; font-weight: 600;">Dacal Federico</p>
  </div>
</ion-content>
