

<ion-content style="--background: rgb(255, 213, 208); height: 95vh;">

  <div id="divScroll" class="chat-area">
    <div *ngFor="let con of consultas | async" class="chat-bubble-container" [ngClass]="{'sender' : con.senderId === uidUsr}">
        <div class="chat-bubble"  >
          <label style="font-size: 5vw;"> {{con.texto}}</label>
         
          <div style="text-align: right; color: rgb(104, 104, 104);">
            <label style="font-size: 13px;">{{con.horaEnvio | date: 'dd/MM/yy, hh/mm'}}</label>
          </div>
        </div>
        <div hidden #endOfChat></div>
    </div>
    
  </div>

  <div style="display: flex;">
    <ion-input style="--background: #ffff;" placeholder="Nombre" name="txtNombre" [(ngModel)]="texto"></ion-input>
    <ion-button (click)="enviar()" class="boton-rapido">E</ion-button>

  </div>


</ion-content>
