.card-login{
    margin: auto; 
    margin-top: 40%;
    max-width: 90%;
    padding-top:5%;
    padding-bottom: 5%;
    border-radius: 12px;
    border: 5px solid rgb(250, 142, 130);
    --background: rgba(252, 162, 152, 0.7);
}

.card-login-anon{
    margin: auto; 
    margin-top: 60%;
    max-width: 90%;
    padding-top:5%;
    padding-bottom: 5%;
    border-radius: 12px;
    border: 5px solid rgb(250, 142, 130);
    --background: rgba(252, 162, 152, 0.7);
}

.boton-login{
    --ion-color-primary: rgb(255, 109, 92);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}

.inputs{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
    border: 5px solid rgb(250, 142, 130);
    background-color: #ffff;
    padding-left: 5px;
    padding-right: 5px;
}

ion-input{
    --placeholder-color: #000;
    --color: black;
}

.anonimo{
    margin-left: 3%;
    margin-top: 5%;
    font-size: 0.95rem;
    font-weight: 700;
    color: black;
}

.anonimo:hover{
    color:#ffff;
}

.spinner{
    position: absolute; 
    bottom: 10%; 
    left: 47%;
}

.accesoRapido{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.boton-rapido{
    --ion-color-primary: rgb(255, 109, 92);
    color: black;
    font-weight: 700;
}