
<ion-content [fullscreen]="true" style="--background: rgb(255, 196, 189);">

  <!--+++++++++++++++++++++++++++++++++ CLIENTE +++++++++++++++++++++++++++++++++-->
  <div *ngIf="pantalla == 'inicio'">
    <div *ngIf="usuario.perfil == 'cliente' || usuario.perfil == 'anonimo'" style="width: 90vw; margin: auto">
      <p style="font-size: 13vw; color: rgb(255, 109, 92); font-weight: 700;">Bienvenido,</p>
      <p style="font-size: 8vw; color: white; margin-top: -8%; font-weight: 600;">{{usuario.nombre}}</p>


      <br>
      <p *ngIf="usuario.mesa == -1" style="font-size: 5vw; color: white; margin-top: -8%; font-weight: 600;">Escanee el QR para pedir una mesa.</p>

      <p *ngIf="usuario.mesa != -1 && usuario.estadoQrMesa=='ninguno'" style="font-size: 5vw; color: white; margin-top: -8%; font-weight: 600;">Tiene una mesa asignada. Escanee el QR para ver el menú.</p>

      <p *ngIf="usuario.mesa != -1 && usuario.estadoQrMesa == 'pedidoCargado'" style="font-size: 5vw; color: white; margin-top: -8%; font-weight: 600;">Pedido confirmado. Escanee el QR para acceder al estado del pedido o responder nuestra encuesta.</p>

      <div style="text-align: center;">
        <ion-button style="--background: rgb(255, 109, 92); margin: auto; margin-top: 10%; height: 40vh; width: 80vw;"><img src="../../../assets/escaner-de-codigo-de-barras.png" (click)="scanQRMesa()"></ion-button>
        <ion-button (click)="pantalla = 'consulta'" style="--background: rgb(255, 109, 92); margin-top: 3%;" >Consultar al mozo</ion-button><br>
        <ion-button (click)="pantalla = 'hacerPedido'" style="margin-top: 3%;" >HacerPedido (test)</ion-button><br>
        <ion-button routerLink="/menu-opciones" style="margin-top: 3%;" >Opciones (test)</ion-button><br>
        <ion-button (click)="confirmarPedido()" style="--background: rgb(255, 109, 92); margin-top: 3%;" >Confirmar recepción de pedido</ion-button><br>
  
      </div>

    </div>
  
  </div>

  <div *ngIf="pantalla == 'hacerPedido'">
  <ion-button (click)="ngOnInit()" style="--background: rgb(255, 109, 92);
  position: fixed; z-index: 100;" ><img style="height: 80%;" src="../../../assets/volver.png"></ion-button>
    <app-menu></app-menu>
  </div>

    <!--+++++++++++++++++++++++++++++++++ MOZO +++++++++++++++++++++++++++++++++-->
  <div *ngIf="usuario.perfil == 'mozo'">
    <ion-button (click)="pantalla = 'verConsultas';" style="--background: rgb(255, 109, 92); margin-top: 3%;" >Ver consultas</ion-button>
    <ion-button (click)="pantalla = 'pedidos';" style="--background: rgb(255, 109, 92); margin-top: 3%;" >Ver pedidos</ion-button>
    <ion-button (click)="pantalla = 'pedidos-en-proceso';" style="--background: rgb(255, 109, 92); margin-top: 3%;" >En preparación</ion-button>

  </div>
  <div *ngIf="pantalla == 'consulta'">
    <div style="height: 5vh; width: 100%;">
      <ion-button *ngIf="usuario.perfil != 'mozo'" (click)="pantalla = 'inicio'" style="--background: rgb(255, 109, 92); margin-top: 3%;" >Volver</ion-button>
    </div>
    <div *ngIf="usuario.perfil == 'cliente' || usuario.perfil == 'anonimo'">
      <div style="margin-top: 4%;">
        <app-consulta [usuarioRecibido]="undefined"></app-consulta>
      </div>
    </div>
  </div>
  <div *ngIf="usuario.perfil == 'mozo'">

    <div *ngIf="pantalla == 'verConsultas'" style="">

    <div (click)="consultaSeleccionada = c; pantalla = 'consulta'" *ngFor="let c of consultas | async" style="margin-top: 4%; border-radius: 10px; border: 2px solid salmon; background-color: white;
      margin: auto;width: 80%; padding: 3%; ">
      {{c.nombre}}<br>
      "{{c.ultimoMsj}}"<br><br>
      <div style="text-align: right;">
        <label>{{c.fecha | date: 'dd/MM/yy, hh:mm'}}</label>
      </div>
    </div>

  </div>
  <div *ngIf="pantalla == 'consulta'">
    <app-consulta [usuarioRecibido]="consultaSeleccionada"></app-consulta>

  </div>

  <div *ngIf="pantalla == 'pedidos'">
    <app-ver-pedidos [queMuestro]="'a confirmar'"></app-ver-pedidos>
  </div>

  <div *ngIf="pantalla == 'pedidos-en-proceso'">
    <app-ver-pedidos [queMuestro]="'en proceso'"></app-ver-pedidos>
  </div>



  </div>



    <!--<button routerLink="/cliente-consultar">Test consulta</button>-->
    <!--+++++++++++++++++++++++++++++++++ SUPERVISOR +++++++++++++++++++++++++++++++++-->
    <div *ngIf="usuario.perfil == 'supervisor' || usuario.perfil == 'duenio'">
      <p style="font-size: 13vw; color: rgb(255, 109, 92); font-weight: 700; margin-left: 5%;">Bienvenido</p>
      <p style="font-size: 8vw; color: white; margin-top: -8%; font-weight: 600; margin-left: 5%;">{{usuario.nombre}}</p>

      <!--<div *ngFor="let u of usuarios" style="height: 10vh; width: 90%;border: 2px salmon solid; background-color: rgba(255, 255, 255, 0.486);">

        <div *ngIf="u.estadoUsuario == 0">

          <img style="max-height: 15vh;" [src]="u.foto">
          <p style="font-size: 5vw; color: white; margin-top: -8%; font-weight: 600;"><b>Nombre:</b> {{u.nombre}} {{u.apellido}}</p><br>
          <div *ngIf="u.perfil == 'cliente'"></div>
          <p style="font-size: 5vw; color: white; margin-top: -8%; font-weight: 600;"><b>DNI:</b> {{u.dni}}</p>


        </div>
      </div>-->
      <div style="width: 90%; margin: auto; text-align: center;">
      <div  *ngFor="let u of usuarios; let i = index" style="margin-bottom: 5%;">
        <div *ngIf="u.estadoUsuario == 0"  style="background-color: rgba(255, 255, 255, 0.575); color: salmon; border-radius: 10px; border: 2px salmon solid; width: 100%;">
          
          <img id="" style="position: relative; height: 70px;" [src]="u.foto">
          <p style="font-size: 5vw; color: white;font-weight: 600;">{{u.nombre}}{{u.apellido}}</p>
          <div *ngIf="u.perfil == 'cliente'">
            <p style="font-size: 5vw; color: white; font-weight: 600;"><b>DNI:</b> {{u.dni}}</p>
          </div>
          <div style="display: flex; justify-content: right;">
            <ion-button color="danger" (click)="rechazarCliente(u)">Rechazar</ion-button>
            <ion-button color="success" (click)="aceptarCliente(u)">Aceptar</ion-button>
          </div>
          <br>
        <!-- <p style="color: black; border:solid 1px black;">{{imagesBd[i].perfil}}</p> -->
          
          
        </div>
      </div>
      
      </div>
    </div>


      <!--<div style="text-align: center;" *ngIf="usuario.perfil == 'cliente'">
        <ion-button style="--background: rgb(255, 109, 92); margin: 0 auto; margin-top: 30%; ">Comenzar</ion-button>
        <ion-button style="--background: rgb(255, 109, 92); margin: 0 auto; margin-top: 30%; ">Comenzar</ion-button>
      </div>
      <div style="text-align: center;" *ngIf="usuario.perfil == 'empleado'">
        <ion-button style="--background: rgb(255, 109, 92); margin: 0 auto; margin-top: 30%; ">Comenzar</ion-button>
      </div>
      <div style="text-align: center;" *ngIf="usuario.perfil == 'dueño' || usuario.perfil == 'supervisor'">
        <ion-button style="--background: rgb(255, 109, 92); margin: 0 auto; margin-top: 30%; ">Comenzar</ion-button>
      </div>
    </div>-->

    <!--+++++++++++++++++++++++++++++++++ METRE +++++++++++++++++++++++++++++++++-->

    <div *ngIf="usuario.perfil == 'metre'">
      <p style="font-size: 13vw; color: rgb(255, 109, 92); font-weight: 700; margin-left: 5%;">a,</p>
      <p style="font-size: 8vw; color: white; margin-top: -8%; font-weight: 600; margin-left: 5%;">{{usuario.nombre}}</p>

      <div style="width: 90%; margin: auto; text-align: center;">
      <div  *ngFor="let u of usuarios; let i = index" style="margin-bottom: 5%;">
        <div *ngIf="u.estadoUsuario == 1 && u.mesa == 0"  style="background-color: rgba(255, 255, 255, 0.575); color: salmon; border-radius: 10px; border: 2px salmon solid; width: 100%;">
          
          <img id="" style="position: relative; height: 70px;" [src]="u.foto">
          <p style="font-size: 5vw; color: white;font-weight: 600;">{{u.nombre}}{{u.apellido}}</p>
          <div *ngIf="u.perfil == 'cliente'">
            <p style="font-size: 5vw; color: white; font-weight: 600;"><b>DNI:</b> {{u.dni}}</p>
          </div>
          <div style="display: flex; justify-content: right;">
            <ion-button color="danger" (click)="rechazarPedidoMesa(u)">Rechazar</ion-button>
          </div>

          <ion-list style="color: salmon; border-radius: 10px; border: 2px salmon solid; width: 100%;">
            <ion-item>
              <ion-select (ionChange)="manejadorElegirMesa($event, u)" aria-label="mesa" interface="action-sheet" placeholder="Elegir mesa">
                <!--ion-select-option *ngFor="let mesa of mesas" [value]="mesa.numero">{{mesa.numero}}</ion-select-option-->
                <div *ngFor="let mesa of mesas">
                  <ion-select-option *ngIf="mesa.libre===true" [value]="mesa">{{mesa.numero}}</ion-select-option>
                </div>
              </ion-select>
            </ion-item>
          </ion-list>
          <br>          
        </div>
      </div>
      </div>
    </div>

    <!--+++++++++++++++++++++++++++++++++ COCINERO Y BARTENDER +++++++++++++++++++++++++++++++++-->

    <div *ngIf="this.usuario.perfil == 'chef' || this.usuario.perfil =='bartender'" style="margin-top: 5%;">
      <div *ngFor="let p of pedidos" style="color: rgb(80, 80, 80); 
      background-color: rgba(255, 255, 255, 0.808); width: 90%; border: 2px solid salmon; border-radius: 15px;
      margin: auto;  padding: 3%">
        <div>
          <label style="font-size: 6vw;">{{p.cliente}} </label><br>
          <label style="font-size: 7vw; font-weight: 600;">Pedido:</label>
          <div *ngFor="let prod of p.pedido">
            <div style="text-align: center;">
              <label style="font-size: 6vw; text-align: center;"><u>{{prod.descripcion}}</u></label><br>
              
            </div>
            <label style="font-size: 5vw;">{{prod.marca}}</label><br>
            
            <label style="font-size: 5vw;"><b>Cantidad:</b> {{prod.cantidad}}</label><br>
            <div style="width: 85%; height: 2px; background-color: salmon; border-radius: 5px; margin:auto"></div>
            <br>
            
          </div>
          <ion-button class="botonConfirmar" (click)="confirmarPedidoTerminado(p.id, p.uid_cliente)">Pedido terminado</ion-button>
          <br>
          <div style="text-align: right;">
            <label style="font-size: 4vw;">{{p.hora | date: 'dd/MM/yy, hh:mm'}}</label><br>
          </div>
        </div>
        </div>
    </div>


    <!---------------------------ENCUESTA Y ESTADO---------------------------------------------->
    <div *ngIf="pantalla == 'encuesta-y-estado'">
      <div *ngIf="usuario.perfil == 'cliente' || usuario.perfil == 'anonimo'" style="width: 90vw; margin: auto">
        <p style="font-size: 13vw; color: rgb(255, 109, 92); font-weight: 700;">Bienvenido,</p>
        <p style="font-size: 8vw; color: white; margin-top: -8%; font-weight: 600;">{{usuario.nombre}}</p>

        <label style="font-size: 5vw;"><b>Estado:</b> {{this.pedidoClienteLogeado.estado}}</label><br>
        
        <div *ngFor="let prod of this.pedidoClienteLogeado.productos">
          <div style="text-align: center;">
            <label style="font-size: 6vw; text-align: center;"><u>{{prod.descripcion}}</u></label><br>

            <label style="font-size: 5vw;">{{prod.marca}}</label><br>
      
            <label style="font-size: 5vw;"><b>Cantidad:</b> {{prod.cantidad}}</label><br>

          </div>
        </div>
        <label style="font-size: 5vw;"><b>Total:</b> ${{this.pedidoClienteLogeado.total}}</label><br>
  
        <br>
  
        <div style="text-align: center;">
          <ion-button (click)="redirigirAEncuesta()" style="--background: rgb(255, 109, 92); margin-top: 3%;" >Encuesta</ion-button><br>
          <!-- 
            <ion-button (click)="pantalla='estado-pedido'" style="--background: rgb(255, 109, 92); margin-top: 3%;" >Estado pedido</ion-button><br>
          -->
            <ion-button (click)="pantalla ='consulta'" style="--background: rgb(255, 109, 92); margin-top: 3%;" >Consultar al mozo</ion-button><br>
  
        </div>
      </div>
    </div>

  



  <!--<ion-button routerLink="/alta-usuario">Test alta</ion-button>
  <ion-button (click)="perfil()">PRUEBA</ion-button>-->
</ion-content>
