<div style="margin-top: 5%;">
  <div *ngFor="let p of pedidos | async">

    <div *ngIf="p.estado == queMuestro" style="color: rgb(80, 80, 80); 
    background-color: rgba(255, 255, 255, 0.808); width: 90%; border: 2px solid salmon; border-radius: 15px;
    margin: auto;  padding: 3%">

      <label style="font-size: 6vw;">{{p.cliente}}</label><br>
      <label style="font-size: 7vw; font-weight: 600;">Pedido:</label>
      <div *ngFor="let prod of p.productos">
        <div style="text-align: center;">
          <label style="font-size: 6vw; text-align: center;"><u>{{prod.descripcion}}</u></label><br>

        </div>
      <label style="font-size: 5vw;">{{prod.marca}}</label><br>

      <label style="font-size: 5vw;"><b>Cantidad:</b> {{prod.cantidad}}</label><br>
      <label style="font-size: 5vw;"><b>Precio unitario:</b> ${{prod.precio}}</label><br>
      <label style="font-size: 5vw;"><b>Precio total:</b> ${{prod.precioSuma}}</label><br>
      <div style="width: 85%; height: 2px; background-color: salmon; border-radius: 5px; margin:auto"></div>
      </div>

      <label style="font-size: 7vw; font-size: 600;"><b>Pecio final: ${{p.total}}</b></label>

      <ion-button *ngIf="p.estado == 'a confirmar'" (click)="confirmarPedido(p.productos, p.uid, p)" class="botonConfirmar">Confirmar pedido</ion-button>

      <div style="text-align: right;">
        <label style="font-size: 4vw;">{{p.hora | date: 'dd/MM/yy, hh:mm'}}</label><br>
      </div>
    </div>
  <div>
<div>
